<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Helvetica;">
	<h2>
		Hey <%= @user %>!
		<br></br>
		<br></br>
		Check out your <a href="https://lovelace-provisions.herokuapp.com/" style="text-decoration: none;">horoscope</a> for the day!
		<br>
	</h2>
	<h3>
		<div>	
			Best,
			<br>
			Lovelace Provisions
		</div>
	</h3>
</body>
</html>