<div id="main-container">
	<div class="scroll">
		<% @horoscopes.in_groups_of(6, false) do |horoscope_task| %>
				<% for horoscope in horoscope_task %>
					<div id="image-scroll">
						<%= link_to "#{horoscope.name}", horoscope_path(horoscope.id), :id => 'horoscope-names' %>
						</hr>
					</div>
				<% end %>	
		<% end %>
	</div>
</div>