<div id="main-container">
	<table>
		<% @horoscopes.in_groups_of(6, false) do |horoscope_task| %>
			<tr>
				<% for horoscope in horoscope_task %>
					<td>
						<%= link_to "#{horoscope.name}", horoscope_path(horoscope.id) %>
					</td>
				<% end %>	
			</tr>	
		<% end %>
	</table>
</div>